<ion-navbar primary *navbar hide-tabs>
  <ion-buttons left>
    <button (click)="dismiss()">
      <ion-icon name="arrow-back" ></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    {{"customstop.title"|translate}}
  </ion-title>
</ion-navbar>

<ion-content class="nativemap">
  <nativemap class="map" style="width: 100%; height: 100%; display: block;"></nativemap>
</ion-content>


<ion-content>
  <ion-item>
    <h2>{{customstop[1]}}</h2>
    <p>{{"customstop.timeTrans"|translate}}: {{customstop[2]}} </p>
    <p>{{"customstop.numberTrans"|translate}}: {{customstop[3]}}</p>
    <p>{{"customstop.addressTrans"|translate}}: {{customstop[4]}}</p>
    <p>
      <img src="img/wheelchair.png" *ngIf="customstop[5][0]" width="10%" height="auto">
      <img src="img/luggage.png" *ngIf="customstop[5][1]" width="10%" height="auto">
      <img src="img/crutch.png" *ngIf="customstop[5][2]" width="10%" height="auto">
      <img src="img/baby.png" *ngIf="customstop[5][3]" width="10%" height="auto">
      <img src="img/child.png" *ngIf="customstop[5][4]" width="10%" height="auto">
    </p>
    <ion-thumbnail item-right>
      <ion-icon name="close-circle" style="font-size:50px" *ngIf="customstop[7] === 6"></ion-icon>
    </ion-thumbnail>
  </ion-item>

  <table width="100%">
    <colgroup>
      <col width="50%">
      <col width="50%">
    </colgroup>
    <tr>
      <td align="center">
          <button primary *ngIf="accepted" (click)="completeAcceptedCustomStop()" class ="button_action" item-width="100%">
          <ion-icon name="done-all"></ion-icon>
          {{"customstop.done"|translate}}
        </button>
      </td>
      <td align="center">
          <button primary *ngIf="accepted" (click)="noShowAcceptedCustomStop()" class ="button_action" item-width="100%">
            <ion-icon name="sad"></ion-icon>
            {{"customstop.noAppearance"|translate}}
          </button>
      </td>
    </tr>
  </table>
  <table width="100%">
    <colgroup>
      <col width="50%">
      <col width="50%">
    </colgroup>
    <tr>
      <td align="center">
        <button primary *ngIf="!accepted" (click)="acceptCustomStop()" class ="button_action" item-width="100%">
          <ion-icon name="checkmark"></ion-icon>
          {{"customstop.accept"|translate}}
        </button>
      </td>
      <td align="center">
        <button primary *ngIf="!accepted" (click)="declineCustomStop()" class ="button_action" item-width="100%">
          <ion-icon name="close"></ion-icon>
          {{"customstop.decline"|translate}}
        </button>
      </td>
    </tr>
  </table>

</ion-content>