.customstop {
    .buttonClass{
        width:200px;
    }
} 
.nativemap {
  .scroll {
    height: 100%;
  }
  .map {
    height: 200px;
    width: 320px;
    background-color : transparent;
    }
 
  
}