.drive {
    .scroll{
        height: 100%;
    }
    .buttonleft{
       padding-left:25px;       
    }
    .buttonright{
        padding-right:25px;
        
    }
   .text{
       text-align:center;
       margin-top: 0px;
       margin-bottom: 0px;
   }
  .button_drive{
    width: 56px;
    hight: 56px;
  }
  .h5{
      font-size: 14px;
      line-height: 10px;

  }
  background-color: #F4F4F4;
 
 
}
.stops{
    height: 30%;
}

